@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto&display=swap|Bebas+Neue|Lobster");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&effect=neon|outline|emboss|shadow-multiple");

:root {
  --primary: #b2002e;
  --secundary: #541425;
  --third: #7a3145;
  --bg: #181d20;
  --bg-color: #ffffff;
}
body,
html {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Roboto, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg) !important;
}

.cursor-pointer {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  outline: none !important;
}
a {
  text-decoration: none;
  color: #a7a6a6;
}

.home {
  padding-top: 5rem;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--bg);
}
.form,
.box-register {
  max-width: 25rem;
  margin: 0 auto;
  border-radius: 0.2rem;
  background-color: var(--bg) !important;
  color: var(--bg-color) !important;
  padding: 0.5rem 2rem 1rem 2rem;
  margin-top: 1rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.box-register {
  padding: 1.2rem 2rem;
}
.form .title {
  font-size: 1.3rem;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form > div > div {
  border-bottom: 1px solid #838383;
}
.form > div > span {
  margin-top: 0.5rem;
  text-align: right;
  font-size: 0.9rem;
}

.form > div > div > i {
  margin-right: 0.5rem;
  color: #838383;
}

.form div:last-child {
  text-align: center;
}
.form div:last-child a {
  color: #535353;
}

.form input {
  outline: none;
  border: 0.07rem solid #a3a3a3;
  border-radius: 0.2rem;
  font-family: Roboto, serif;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  background-color: rgb(253, 252, 252);
}
.form-modal .btn {
  margin-top: 1.5rem;
}
.btn {
  font-family: Roboto, serif;
  padding: 0.6rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--third);
}
.btn:hover {
  box-shadow: none;
}
.btn.primary {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: none;
  color: #8f8f8f !important;
}
.btn.primary:hover {
  color: #000000 !important;
}

.btn.secundary {
  background: var(--primary);
}

.btn.danger {
  background: #f42f2f;
}
.btn.danger:hover {
  background: #e11a1a;
}
.modal-title {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: center;
}
.form-modal .select {
  text-decoration: none;
  border: none;
  width: 90%;
  box-shadow: none;
}
.new-category {
  color: #9888e2;
  cursor: pointer;
  font-size: 1.1rem;
}
/* Home screen */
.home-screen {
  max-width: 40rem;
  margin: 0 auto;
}
.home-screen-info-content {
  font-family: Roboto, serif;
  padding: 3rem 1rem 1rem 1rem;
  position: relative;
  background-color: #ffffff;
  background-color: var(--primary);
  margin: 1rem;
  border-radius: 0.5rem;
}
.data-card-circle-home {
  height: 100%;
  width: 70%;
  border-radius: 0.5rem 0 100% 0.5rem;
  background-color: var(--secundary);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.info-content-title,
.info-content-date {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.info-content-title > div {
  font-size: 1.7rem;
}
.info-content-title > span {
  font-size: 0.8rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.info-content-date {
  display: flex;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  justify-content: space-between;
}
.info-content-date > div:nth-child(2) {
  display: flex;
}
.info-content-date div:nth-child(2) > div {
  margin-left: 0.5rem;
  padding: 0.1rem;
}

.info-content-date-selected {
  background-color: var(--secundary);
  border-radius: 0.2rem;
  color: #ffffff;
}
/* datatable */
.mdb-datatable {
  position: relative !important;
  width: 99% !important;
}
.justify-content-end {
  margin-left: 0.5rem;
  justify-content: left !important;
}

.data-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}
.data-card {
  display: block;
  border: none;
  max-width: 40rem;
  width: 40rem;
  padding: 5rem 0.5rem 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: left;
  background-color: var(--primary);
  color: #ffffff;
  position: relative;
  border: 0.1rem solid var(--primary);
}
.data-card div:nth-child(1) {
  font-size: 0.9rem;
  font-weight: 300;
  z-index: 5;
  position: relative;
}
.data-card div:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 400;
  z-index: 5;
  position: relative;
}
.data-card div:nth-child(3) {
  left: 0;
  top: 0;
  z-index: 4;
  position: absolute;
}
.data-card div:nth-child(4) {
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
}
.data-card div:nth-child(5) {
  left: 0;
  bottom: 0;
  z-index: 3;
  /* width: 50%;
  height: 100%; */
  position: absolute;
}
.data-card > div > svg {
  font-size: 10rem;
  opacity: 0.2;
}
.data-card-circle {
  height: 120px;
  width: 150px;
  border-radius: 1rem 0 100% 0;
  background-color: var(--secundary);
  opacity: 1;
}
.data-card-circle-2 {
  height: 110px;
  width: 170px;
  border-radius: 100% 0 1rem 0;
  background-color: var(--secundary);
  opacity: 1;
}
.data-card-circle-3 {
  height: 120px;
  width: 250px;
  border-radius: 0 100% 0 1rem;
  background-color: #eb2153;
  opacity: 1;
}

.data-content {
  display: none;
  padding: 0.5rem 1rem 0 1rem;
  padding-bottom: 9rem;
}
.data-table-items {
  margin-top: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.3rem;
  font-family: Roboto, serif;
  display: flex;
  align-items: center;
  background-color: var(--third);
  color: #e0dede;
}
.data-table-items > div {
  padding: 0.3rem;
}
.data-table-items > div:nth-child(1) {
  background-color: var(--primary);
  color: #ffffff;
  padding: 0.3rem 0.9rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.data-table-items > div:nth-child(2) {
  margin-left: 0.5rem;
}
.data-table-items > div:nth-child(3) {
  margin-left: auto;
  font-size: 1.05rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.data-date > div:nth-child(1) {
  text-align: center;
  font-size: 0.6rem;
}
.data-date > div:nth-child(2) {
  font-size: 1.5em;
  font-weight: 400;
}
.category {
  font-size: 1rem;
}
.subcategory {
  font-weight: 300;
  font-size: 0.8rem;
}
.data-table {
  margin: 0.5rem;
  padding-top: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.selects-datable {
  padding: 0.5rem;
}

.selects-datable .select {
  max-width: 40rem;
  margin-top: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
}
table.table td:nth-child(3) {
  font-weight: bold;
}

.row {
  padding-left: 0.6rem;
  position: relative !important;
  width: 100%;
}
/* Modal */
.modal {
  margin-top: 5rem;
}

/* form modal */
.form-modal {
  max-width: 25rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0.5rem 0.5rem;
}
.form-title {
  font-size: 1.15rem;
}
.form-title > div {
  padding: 0.5rem;
}
.form-modal > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form-modal > div > div {
  position: relative;
}

.form-modal > div > div > svg {
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 2.5rem;
  font-weight: boldsub-form;
  cursor: pointer;
}
.form-modal label {
  font-family: Roboto, serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.form-modal > div > input,
.form-modal > div > textarea {
  border: none;
  outline: none;
  font-family: Roboto, serif;
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 0.2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* sub-form */
.sub-form {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 1rem;
}
.sub-form > div > svg {
  cursor: pointer;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
}
.sub-form > div > input {
  outline: none;
  padding: 0.4rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.sub-form .btn {
  width: 5rem;
}

/* alert */
.alert {
  border-radius: 0.2rem;
  padding: 0.4rem 1rem;
  font-size: 1rem;
}
.alert-info {
  background-color: #bcbfff;
  color: #7d8300;
}
.alert-danger {
  color: red;
  background-color: #00d5d4;
}

/* Header */

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  /* padding: 12px; */
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #2b15ff;
  color: white;
}

/* Float the link section to the right */
.header-right {
  margin-top: 1.2rem;
  float: right;
}
.header-right a {
  padding: 0.4rem;
}

.logo {
  padding: 0;
  width: 6rem;
  height: 5rem;
}
.MuiAppBar-colorPrimary {
  background-color: var(--primary) !important;
}

/* spinner */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border-left-color: #09f;
  margin: 0 auto;
  animation: spin 1s ease infinite;
  vertical-align: middle;
  margin-top: 1%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* floating-button */
.floating-button {
  bottom: 5.5rem;
  right: 3%;
  position: fixed;
  z-index: 10;
}
.floating-button > button {
  cursor: pointer;
  background: #eb2153;
  border: none;
  width: 3rem;
  height: 3rem;
  margin: 0;
  padding: 0;
  border-radius: 5rem;
}
.floating-button > button > svg {
  font-size: 1.8rem;
  color: #ffffff;
}

.container-table {
  max-width: 60rem;
  margin: 0 auto;
}

.drawer-header {
  border-bottom: 1.5px solid #e9d2d2;
  padding: 1rem;
  background-color: var(--primary);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.drawer-body {
  position: relative;
  z-index: 1;
  /* height: 100vh; */
}
.drawer-back {
  cursor: pointer;
  /* margin-bottom: 1rem; */
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  /* small {
    font-size: 0.5em;
  } */
}

.responsive-table {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  /* width: 100%; */
}
ul {
  /* display: inline-block; */
}
li {
  /* display: inline; */
  /* border-radius: 3px; */
  /* padding: 25px 30px; */
  /* padding: 1rem 0.5rem; */
  display: flex;
  justify-content: space-between;
  /* float: right; */
  /* margin-bottom: 25px; */
  /* width: 100%;
    position: relative; */
}
.table-header {
  background-color: var(--primary);
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  /* width: 100%;
    position: relative; */
}
.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.col-1 {
  flex-basis: 10%;
}
.col-2 {
  flex-basis: 40%;
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 25%;
}
/* } */

.card-notifcation {
  display: flex;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 0.5rem;
}
.card-notifcation > div {
  margin-left: 1rem;
}
.card-notifcation div:last-child div:first-child {
  font-size: 1.1rem;
}
.card-notifcation div:last-child div:last-child {
  font-weight: 200;
}
.card-alert-Alta {
  background-color: red !important;
}
.card-alert-Media {
  background-color: green !important;
}

.card-alert-Baja {
  background-color: #bcbfff !important;
}

.card-expense {
  margin: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: relative;
  /* border: 1px solid black; */
}
.card-expense-header {
  padding: 5rem 0 1rem 1rem;
  background-color: var(--primary);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.card-expense-header div:first-child {
  margin-top: -4rem;
  margin-right: 0.5rem;
  position: relative;
  float: right;
  color: #ffffff;
}
.card-expense-header div:nth-child(2) {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.card-expense-header div:nth-child(3) {
  font-weight: 200;
  /* font-size: 1rem; */
  color: #d8d8d8;
}
.card-expense-header div:last-child {
  font-weight: 200;
  color: #d8d8d8;
  margin-top: 0.2rem;
  font-size: 0.8rem;
}
.card-expense-body {
  padding: 3rem 0 2rem 1rem;
}
.card-expense-body div:first-child {
  font-size: 1.3rem;
  font-weight: 500;
}

.card-expense-body div:last-child {
  font-weight: 200;
}
.card-expense-edit {
  right: 2rem;
  top: 16rem;
  position: absolute;
}

.card-expense-edit .MuiAvatar-circular {
  background-color: var(--primary);
  width: 3.5rem;
  height: 3.5rem;
}
.card-expense-edit svg {
  font-size: 1.7rem;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.dragger-title {
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}
.dragger-container {
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0.5rem;
  margin: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.dragger-container div:last-child {
  margin-left: auto;
}
.dragger-container div:nth-child(2) {
  font-size: 1.1rem;
  margin-left: 0.3rem;
}
.avatar-dragger-Alta {
  background-color: #e02f2f !important;
}
.avatar-dragger-Baja {
  background-color: #988eff !important;
}
.avatar-dragger-Media {
  background-color: #4bfe63 !important;
}

.accordion-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.accordion-title div:first-child {
  text-transform: capitalize;
  font-weight: 400;
}
.accordion-title div:last-child {
  font-weight: 500;
}
.accordion-body {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.accordion-body-description {
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1rem;
}
.accordion-body-description div:first-child {
  padding: 0.2rem;
  font-size: 0.9rem;
  font-weight: 300;
}
.accordion-body-description div:last-child {
  font-weight: 500;
}
.accordion-body-expense {
  padding: 0 1rem 0 1rem;
}
.entry-card {
  margin: 1.5rem;
  border-radius: 1rem;
  position: relative;
  max-width: 500px;
  background-color: var(--primary);
}
.entry-card-title {
  padding-bottom: 2rem;
  padding-top: 1rem;
  color: #000000;

  text-align: right;
}
.entry-card-title-content {
  font-size: 1.5rem;
  position: relative;
  z-index: 5;
  color: #ffffff;
  padding: 1rem;
}
.entry-card-info {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.entry-card-info div {
  z-index: 1;
  text-align: center;
}
.entry-card-info > div > div:nth-child(1) {
  font-weight: 500;
}
.entry-card-info > div > div:nth-child(2) {
  font-weight: 300;
}
.entry-card > div:nth-child(3) {
  position: absolute;
  top: 0;
  z-index: 1;
}
.entry-card > div:nth-child(4) {
  position: absolute;
  bottom: 0;
  right: 0;
}
.entry-card > div:nth-child(5) {
  position: absolute;
  bottom: 0;
}

.next-expenses-card {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  border-bottom: 0.1rem solid #002ba5;
  margin: 0 2rem;
}

body {
  background-color: #1f2328;
}
.next-expense-content {
  padding: 0.7rem;
}
.next-expense-table {
  width: 100%;
}

.next-expense-table tr td,
.next-expense-table th {
  padding: 0.5rem;
  width: 100%;
}
.next-expense-table tr td:nth-child(2) {
  text-align: right;
}
.next-expense-table tr td:nth-child(3) {
  text-align: center;
}
.next-expense-table tr:nth-child(even) {
  background-color: #eeeeee;
}
.next-expense-table-confirmated {
  font-weight: bold !important;
  border-left: 0.15rem solid #000e27;
}
.next-expense-table-confirmated td {
  font-weight: bold !important;
}
.next-expense-table-estimated {
  margin-top: 0.3rem !important;
  background-color: #040911;
  color: #ffffff;
}
.next-expense-table-confirmed {
  background-color: #000e27 !important;
  color: #ffffff;
}
.next-expense-table-confirmed td {
  margin-top: 1rem;
}
.container {
  background-color: #ffffff;
  /* padding: 1rem; */
  border-radius: 0.5rem;
  /* box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px; */
  margin-top: 1rem;
  z-index: 1;
  /* margin: 1rem; */
  width: auto !important;
  background-color: var(--bg);
}
.container-2 {
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin-top: 1rem;
}
.year-content {
  width: 6rem;
  margin-bottom: 1rem;
  /* background-color: #E8E8E8; */
}
.year-content .css-yk16xz-control {
  border-radius: 0.5rem;
  background-color: var(--third);
  font-weight: 500;
  border-style: none;
  color: #ffffff;
}
.year-content .css-yk16xz-control:focus {
  outline: none !important;
}
.year-content .css-tlfecz-indicatorContainer {
  color: black !important;
}
.year-content .css-1uccc91-singleValue,
.year-content .css-tj5bde-Svg {
  color: #ffffff;
}
.months-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: var(--third);
  color: #ffffff;
  border-radius: 0.5rem;
}
.months-content > div {
  font-family: "Bebas Neue", serif;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.months-content-selected {
  background-color: var(--bg) !important;
  padding-top: -0.1rem !important;
  font-weight: bold !important;
  border: none !important;
  border-style: none !important;
}
/* 
.months-content > div:nth-child(1) {
  background-color: #09f;
}
.months-content > div:nth-child(2) {
  background-color: #b95c06;
}
.months-content > div:nth-child(3) {
  background-color: #09f;
}
.months-content > div:nth-child(4) {
  background-color: #2dff57;
}
.months-content > div:nth-child(5) {
  background-color: #ff2d66;
}
.months-content > div:nth-child(6) {
  background-color: #94418f;
}
.months-content > div:nth-child(7) {
  background-color: #5b3903;
}
.months-content > div:nth-child(8) {
  background-color: #333883;
}
.months-content > div:nth-child(9) {
  background-color: #ff0000;
}
.months-content > div:nth-child(10) {
  background-color: #000000;
}
.months-content > div:nth-child(11) {
  background-color: #ffb260;
}
.months-content > div:nth-child(12) {
  background-color: #60d8ff;
} */
.months-content > div > img {
  color: #002ba5;
  margin-top: 0.3rem;
  /* padding: 1rem; */
  width: 2rem;
}

.filter-content > button {
  width: 100%;
  border: none;
  padding: 0.5rem;
  font-family: "Bebas Neue", serif;
  font-size: 1.2rem;
  background-color: var(--third);
  color: #ffffff;
  border-radius: 1rem;
}

.MuiAccordionDetails-root {
  padding: 8px 0 16px !important;
}
.MuiPaper-root {
  background-color: var(--bg) !important;
  /* color: var(--bg-color) !important; */
  border: 1px solid var(--third);
}

.sidebar-menu-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
}
.sidebar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
  background-color: var(--secundary);
  display: flex;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  position: relative;
  z-index: 100;
  /* margin: .3rem; */
  /* border-radius: 2rem; */
  /* background-color: var(--primary); */
  /* color: #a7a6a6; */
}
.sidebar-menu > li {
  text-decoration: none;
  cursor: pointer;
  /* border: 1px solid black; */
  padding: 0.5rem;
  border-radius: 2rem;
  display: inline;
}
.sidebar-menu-selected {
  background-color: var(--primary);
}
.sidebar-menu-selected > a {
  color: #ffffff !important;
}
[data-rsbs-overlay],
[data-rsbs-backdrop],
[data-rsbs-root]:after {
  z-index: 1000 !important;
}

@media only screen and (max-width: 450px) {
  .home {
    padding: 0;
    margin-top: 5rem;
  }
  .form,
  .box-register {
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 0.2rem;
    background-color: #ffffff;
    padding: 0.5rem 1rem 1rem 1rem;
    margin-top: 1rem;
    text-align: center;
    box-shadow: none;
  }
  .modal,
  .modal-dialog,
  .modal-body {
    margin: 0;
    padding: 0 !important;
  }
  .modal-body {
    height: 75vh;
    position: relative;
  }
  .modal-body .form-modal {
    position: absolute;
    width: 100%;
  }
  .modal-content {
    margin-top: 4rem;
    width: 100%;
  }
  .mdb-datatable div:nth-child(2) {
    width: 450px;
    overflow-x: scroll;
  }
  .data-content {
    display: block;
  }
  .data-table {
    display: none;
    max-width: 450px;
    overflow-x: scroll;
  }
}
.chart-container {
  margin-top: 1rem;
  padding: 1rem;
  color: #ffffff;
  /* background-color: #ffffff; */
}
.chart-container-list {
  padding: 1rem;
  padding-bottom: 10rem;
}
.chart-container-list-detail {
  display: flex;
  margin-bottom: 0.2rem;
  align-items: center;
}
.chart-container-list-detail > div:nth-child(1) {
  border-radius: 0.2rem;
}
.chart-container-list-detail > div:nth-child(2) {
  margin-left: 1rem;
}
.chart-container-list-detail > div:nth-child(3) {
  float: right;
  margin-left: auto;
  font-weight: 500;
  color: #2aadad;
}
@media only screen and (max-width: 540px) {
  .container-table {
    max-width: 540px;
    overflow-x: scroll;
    margin: 0.2rem;
  }
  .responsive-table {
    width: 540px;
  }
}

@media only screen and (max-width: 700px) {
  .MuiDrawer-paper {
    width: 100%;
  }
}
